<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom"><h1>Overview Artists:</h1></div>
    <div class="panel-body">

    <% @artists.each do |artist| %>
      <div class="col-sm-4">
        <h4 class = "artist-name"><%= link_to artist.full_name, artist_path(artist.id), class: "links" %></h4>
        <%= image_tag artist.image.thumbnail, class: "img-responsive center-block small-image" %>

      </div>
    <%end%>

    </div>
</div>
