<h1>Overview Artists:</h1>

<p> <% @artists.each do |artist| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= link_to artist.full_name, artist_path(artist.id) %></h4>
            <h4><% @aritst.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %></h4>

          </div>
        </div>
      <%end%></p>
