/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: white;
}

.small-image{
  border-radius: 50%;
  width: 20em;
  margin-top: 30px;
  margin-bottom: 80px;
}

.artist-name {
  margin-top: 5em;
  text-align: center;
}

.panel-default > .panel-heading-custom {
  background: #16012d;
  color: white;
  border-color: #16012d;
  text-align: center;
}

.panel {
  width: 80%;
  display: block;
  position: relative;
  left: 10%;
  top: 100px;
  border-color: #16012d;
  background-color: #fffacc;
}
